@import './fonts'; //Import local and web fonts

$screen-sm-min: 576px; //Small tablets and smartphones

//Remove html body default margin
body {
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
    color: #FAFAFA;

    p {
        margin: 0;
    }
}

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}